<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diyettekiler Soruyor</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1>Diyettekiler Soruyor</h1>
    </header>
    <section class="home">
        <div class="home-buttons">
            <a href="/login">
                <button>Login</button>
            </a>
            <a href="/register">
                <button>Register</button>
            </a>
            <a href="/guest">
                <button>Continue as Guest</button>
            </a>
        </div>
    </section>
</body>
</html>
